.dropdown-default {
  position: relative;
  z-index: 4;
  .overlay {
    background-color: var(--primary-color-7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    color: var(--light-color-8);
    position: absolute;
    overflow: auto;
    top: 100%;
    height: 0;
    z-index: 3;
    transition: height 0.2s;
    &:hover {
      & ~ * {
        text-decoration: none;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        background-color: var(--light-color-2);
      }
    }
  }

  &:hover {
    .overlay {
      height: 200px;
    }
  }
}
