.card-category {
  width: 265px;
  height: 60px !important;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  text-transform: uppercase;
}
