.latest-articles {
  & > * {
    margin-bottom: 40px;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    div:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    div:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
  .view-more {
    border: solid 1px var(--primary-color);
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      border: solid 1px var(--secondary-color);
      color: var(--secondary-color);
    }
  }
}
