@import '/src/assets/StyleSheets/helper.scss';

$height: 60px;

.navigation-wrapper {
  background: linear-gradient(to right, #3566a4 0%, #588bba 51%, #3566a4 100%) !important;
  color: var(--light-color);
  height: $height;
  text-transform: uppercase;
  padding: 0 calc((100% - var(--container-width)) / 2);
  position: sticky;
  top: 0;
  z-index: 4;
  .navigation {
    .logo {
      background: url('/images/logo.svg');
      background-position: -118px 0px;
      width: 117px;
      height: 32px;
    }
    .sub-navigation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      & > * {
        display: block;
        padding: 10px 20px;
        min-width: 200px;
        &:hover {
          background-color: var(--light-color-2);
          color: var(--light-color-8);
        }
      }
    }
    .menu {
      margin-left: 100px;
      .menu-item {
        height: $height;
        padding: 2px 15px 0;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          background-color: var(--light-color-2);
        }
      }
    }
  }
}
