.default-image {
  opacity: 0;
  transition: opacity 0.2s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.loaded {
  opacity: 1;
}
