.card-image {
  width: 100%;
  padding-top: 100%;
  position: relative;
  color: var(--light-color);
  cursor: pointer;
  &:hover {
    .title {
      color: var(--secondary-color);
    }
  }
  .image,
  .title,
  .mask {
    position: absolute;
    border-radius: 5px;
  }
  .mask {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(to top, var(--dark-color), var(--transparent-color));
  }
  .title {
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    font-weight: 400;
    padding: 15px 15px;
  }
}
