.content-default {
  margin-bottom: 80px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    .text {
      font-size: 28px;
      text-transform: uppercase;
      color: var(--primary-color);
      font-weight: 500;
    }
    .icon-logo {
      background: url('/images/logo.svg');
      background-position: -237px 0px;
      width: 38px;
      height: 32px;
    }
    .control {
      display: flex;
      font-size: 30px;
      margin-left: auto;
      * {
        outline: none;
      }
      & > :last-child {
        margin-left: 20px;
      }
    }
  }
}
