@import '/src/assets/StyleSheets/helper.scss';

.header-wrapper {
  background: var(--primary-color);
  height: 34px;
  font-size: 12px;
  a {
    color: var(--light-color);
  }
  .header {
    width: 100%;
    .aside {
      margin-left: auto;
      & > * {
        margin-left: 20px;
      }
    }
  }
}
