@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./fonts/fa-regular-400.eot');
  src: url('./fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('./fonts/fa-regular-400.woff2') format('woff2'),
    url('./fonts/fa-regular-400.woff') format('woff'),
    url('./fonts/fa-regular-400.ttf') format('truetype'),
    url('./fonts/fa-regular-400.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./fonts/fa-brands-400.eot');
  src: url('./fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('./fonts/fa-brands-400.woff2') format('woff2'),
    url('./fonts/fa-brands-400.woff') format('woff'),
    url('./fonts/fa-brands-400.ttf') format('truetype'),
    url('./fonts/fa-brands-400.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('./fonts/fa-solid-900.eot');
  src: url('./fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('./fonts/fa-solid-900.woff2') format('woff2'),
    url('./fonts/fa-solid-900.woff') format('woff'),
    url('./fonts/fa-solid-900.ttf') format('truetype'),
    url('./fonts/fa-solid-900.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'Font Awesome 5 Duotone';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('./fonts/fa-duotone-900.eot');
  src: url('./fonts/fa-duotone-900.eot?#iefix') format('embedded-opentype'),
    url('./fonts/fa-duotone-900.woff2') format('woff2'),
    url('./fonts/fa-duotone-900.woff') format('woff'),
    url('./fonts/fa-duotone-900.ttf') format('truetype'),
    url('./fonts/fa-duotone-900.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('./fonts/fa-light-300.eot');
  src: url('./fonts/fa-light-300.eot?#iefix') format('embedded-opentype'),
    url('./fonts/fa-light-300.woff2') format('woff2'),
    url('./fonts/fa-light-300.woff') format('woff'),
    url('./fonts/fa-light-300.ttf') format('truetype'),
    url('./fonts/fa-light-300.svg#fontawesome') format('svg');
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fad {
  position: relative;
  font-family: 'Font Awesome 5 Duotone';
  font-weight: 900;
}

.fal {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}

.fa-bullhorn:before {
  content: '\f0a1';
}

.fa-facebook-f:before {
  content: '\f39e';
}

.fa-instagram:before {
  content: '\f16d';
}

.fa-twitter:before {
  content: '\f099';
}

.fa-angle-left:before {
  content: '\f104';
}

.fa-angle-right:before {
  content: '\f105';
}
