@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 300;
  src: url('../Font/webFont/helvetica-neue-light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  src: url('../Font/webFont/helvetica-neue-regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  src: url('../Font/webFont/helvetica-neue-medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 600;
  src: url('../Font/webFont/helvetica-neue-bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'KtIcon';
  font-style: normal;
  src: url('../Font/kt-icon.woff');
  font-display: swap;
}
