:root {
  --primary-color: rgb(53, 102, 164);
  --primary-color-7: rgb(53, 102, 164, 0.7);
  --secondary-color: rgb(243, 154, 31);

  --light-color: rgba(255, 255, 255, 1);
  --light-color-9: rgba(255, 255, 255, 0.9);
  --light-color-8: rgba(255, 255, 255, 0.8);
  --light-color-7: rgba(255, 255, 255, 0.7);
  --light-color-6: rgba(255, 255, 255, 0.6);
  --light-color-5: rgba(255, 255, 255, 0.5);
  --light-color-4: rgba(255, 255, 255, 0.4);
  --light-color-3: rgba(255, 255, 255, 0.3);
  --light-color-2: rgba(255, 255, 255, 0.2);
  --light-color-1: rgba(255, 255, 255, 0.1);

  --dark-color: rgb(17, 29, 66);
  --dark-color-9: rgba(17, 29, 66, 0.9);
  --dark-color-8: rgba(17, 29, 66, 0.8);
  --dark-color-7: rgba(17, 29, 66, 0.7);
  --dark-color-6: rgba(17, 29, 66, 0.6);
  --dark-color-5: rgba(17, 29, 66, 0.5);
  --dark-color-4: rgba(17, 29, 66, 0.4);
  --dark-color-3: rgba(17, 29, 66, 0.3);
  --dark-color-2: rgba(17, 29, 66, 0.2);
  --dark-color-1: rgba(17, 29, 66, 0.1);

  --background-color: rgb(242, 243, 247);
  --transparent-color: rgba(255, 255, 255, 0);

  --container-width: 1024px;
}
