@import './root.scss';
@import './font.scss';
@import '../Font/IconFont/icons.scss';
body {
  font-family: 'HelveticaNeue', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--black-color);
  background-color: var(--background-color);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  i {
    &:hover {
      color: var(--secondary-color);
      cursor: pointer;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 20px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fefefe;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba($color: #535e75, $alpha: 0.4);
}
