.card-default {
  width: 100%;
  line-height: 1.2;
  cursor: pointer;
  .image-wp {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 10px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .info-more {
    display: flex;
    margin: 0 -10px 5px;
    font-size: 13px;
    & > div:first-child {
      border-right: solid 1px var(--dark-color);
    }
    & > div {
      padding: 0 10px;
    }
    .category {
      color: var(--secondary-color);
    }
  }
  .title {
    font-weight: 500;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .intro {
    font-weight: 300;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
