.default-layout {
  .main-content {
    padding-top: 40px;
    min-height: 100vh;
  }
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--black-color);
  color: var(--white-color);
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
